@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --main-colour: #333;
  --secondary-colour: #222;
}

/* html {
  scroll-behaviour: smooth;
} */

body {
  font-family: Lato, sans-serif;
  background: var(--main-colour);
}

* {
  padding: 0;
  margin: 0;
}
